/* Main Colours */
:root {
    --primary-color: rgb(146, 204, 206);
    --secondary-color: rgb(48, 51, 59);
    --tertiary-color: rgb(68, 88, 119);
}

/* Universial CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Jumbletron CSS */
/* this section is basically the same aside from some adjustments to make this section look better than in the previous challenge without the use of bootstrap */
#jumbletron {
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    height: 250px;
    position: relative;
}

.subtitle {
    position: absolute;
    right: 35px;
    bottom: 25px;
    font-size: 28px;
    font-weight: bolder;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 5px 10px 5px 10px;
}

