/* Main Colours */
:root {
    --primary-color: rgb(146, 204, 206);
    --secondary-color: rgb(48, 51, 59);
    --tertiary-color: rgb(68, 88, 119);
}

/* Universial CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body CSS */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(238, 238, 239);
}

/* Header/Name CSS */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px 0px 15px 0px; /* pads the top by 10 pixels and the bottom by 15 pixels */
}

.name {
    display: inline;
    align-items: center;
    font-size: 36px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0px 15px 5px 25px;
}

/* Nav CSS */
.nav {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    display: inline;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    border-bottom: 5px solid;
    padding: 0px 10px 0px 10px;
    margin: 0px 15px 0px 15px;
}
